@import '../../data/variables';

.select {
   background-color: hsl(240, 7%, 18%);
   color: hsl(0, 0%, 100%);
   border: 2px solid hsl(0, 0%, 36%);
   margin: 2px 0;
   optgroup {
      color: $orange-color;
      option {
         color: hsl(0, 0%, 100%);
      }
   }
}
