@import '../../../data/variables';

.statName {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0.5px;
   word-spacing: 3px;
}

.stats {
   display: flex;
   flex-direction: column;
   background-color: hsla(0deg, 0%, 48%, 0.259);
   padding: 5px;
}

.stat {
   margin-right: 5px;
}

.statValues {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 5px;
}

.statValue {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3px;
   input {
      background-color: rgba(255, 255, 255, 0);
      color: hsl(0, 0%, 100%);
      margin-left: 3px;
      width: 63%;
   }
}

.statUpdater {
   position: absolute;
   left: 380px;
   z-index: 5;
   background-color: hsl(240deg 8% 20%);
   padding: 5px;
   top: 50px;
}

.weaponTypes {
   display: grid;
   grid-template-columns: repeat(6, auto);
}
