@import '../../../data/variables';

.statDisplayContainer {
   display: flex;
   flex-direction: column;
}
.statContainer {
   display: grid;
   grid-template-columns: 30% 70%;
   align-items: center;
   row-gap: 3px;
   span:nth-child(even) {
      color: hsl(0deg, 0%, 100%);
      background: hsla(0deg, 0%, 100%, 0);
      padding: 1px 2px;
      border-width: 2px;
      border-style: inset;
      border-color: hsl(0deg, 0%, 40%);
      min-width: 150px;
      min-height: 16px;

      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
   }
}
.removeButton {
   position: absolute;
   top: -1px;
   right: 0px;
   width: auto;
   height: 19px;
   margin: 0;
   padding: 1px 3px;
   font-size: 13px;
   width: 60px;
}
.editButton {
   position: absolute;
   top: -1px;
   left: 0px;
   width: auto;
   height: 19px;
   margin: 0;
   padding: 1px 3px;
   font-size: 13px;
   width: 60px;
}
.statButton {
   position: relative;
}
.name {
   align-self: center;
   text-align: center;
}
.statName {
   align-self: center;
   text-align: center;
   color: $orange-color
}
.singleStat {
   border: 1px solid hsl(0, 0%, 50%);
   display: flex;
   flex-direction: column;
   padding: 3px 5px;
   position: relative;
}
.weaponTypeList {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 7px;
   margin-top: 3px;
}
.weaponTypeStat {
   border-top-style: dashed;
   border-width: 1px;
   margin-top: 2px;
   padding-top: 2px;
   border-color: hsl(0, 0%, 50%);

   // because first one is name
   &:nth-child(2) {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
   }
}
