@import '../../data/variables.scss';

.header {
   font-size: 15px;
   line-height: 17px;
   letter-spacing: -0.02em;
   padding: 10px;
   background-color: hsl(0, 0%, 33%);
   color: hsl(0, 0%, 93%);
}
.name {
   text-transform: uppercase;
   font-weight: 600;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 21px;
   line-height: 24px;
   text-decoration: none;
   cursor: pointer;
}
.enhancedName {
   color: $orange-color;
}
.bottom {
   display: flex;
   justify-content: space-between;
   margin-top: 4px;
}
.left {
   flex: 1;
   display: flex;
   align-self: flex-end;
   align-items: center;
}
.right {
   display: flex;
   align-self: flex-end;
   align-items: center;
}
.type {
   opacity: 0.7;
   word-break: break-word;
   background-color: hsl(0deg 0% 33%);
   color: hsl(0deg 0% 100%);
   font-size: 15px;
   border: none;
}
.ammo {
   margin: 0 2px 0 6px;
   height: 14px;
   width: 19px;
}
.breaker {
   margin: 0 4px;
   width: 15px;
   height: 15px;
}
.element {
   height: 16px;
   width: 16px;
}
.power {
   margin: 0 4px 0 2px;
}
