@import '../../data/variables';
@import '../../data/globalStyles.scss';

.button {
   @include button;
   padding: 2px 3px;
   margin: 2px 0 2px 0;
   width: 100%;
}
.active {
   color: $orange-color;
}
