@import '../../data/variables';
@import '../../data/globalStyles.scss';

.selection_list {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   select {
      @include select;
      margin: 2px;
   }
}

.xMark {
   svg {
      height: 18px;
   }
}

.linkedWith {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.button {
   @include button;
   padding: 2px 3px;
   margin: 2px 0 2px 0;
   width: 100%;
}

.hidden {
   display: none;
}