.info_display {
   display: grid;
   grid-template-columns: auto auto;
   grid-row-gap: 3px;
   margin: 3px 0 3px 0;
   align-items: center;
   span {
      color: hsl(0, 0%, 100%);
      background: hsla(0, 0%, 100%, 0);
      padding: 1px 2px;
      border-width: 2px;
      border-style: inset;
      border-color: hsl(0, 0%, 40%);
      min-width: 150px;
      min-height: 16px;
   }
   div {
      grid-column: 1/3;
      text-align: center;
   }
}