body {
   background: radial-gradient(circle, hsl(240, 21%, 16%) 0%, hsl(240, 30%, 4%) 100%);
   color: white;
   font-family: 'Open Sans', sans-serif, 'Destiny Symbols';
   font-size: 12px;
   line-height: calc(16 / 12);
   -webkit-user-drag: none;
   margin: 8px;
}

::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: hsl(0, 0%, 12%);
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: hsl(38, 80%, 56%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: hsl(38, 80%, 56%);
}

html {
   overflow-x: hidden;
   margin-right: calc(-1 * (100vw - 100%));
}
#app {
   display: flex;
   flex-wrap: wrap;
   padding-left: calc(100vw - 100%);
}
.editor-container {
   // this is for hiding half of the editor
   // position: relative;
   // overflow: hidden;
   // #main-editor {
   //    transform: translate(-50%);
   // }

   height: 95vh;
   width: calc(100% - 700px);
   #main-editor,
   #secondary-editor,
   #diffEditor-1,
   #diffEditor-2 {
      border: 3px solid hsl(47, 69%, 5%);
      min-width: 10%;
   }
   .hidden {
      display: none;
   }
   .monaco-scrollable-element {
      .line-delete,
      .line-insert {
         background-color: hsla(0, 0%, 100%, 0) !important;
      }
   }
   #main-editor,
   #diffEditor-1 {
      height: 60%;
   }
   #secondary-editor,
   #diffEditor-2 {
      height: 40%;
   }
   input[type='range'] {
      width: calc(100% - 5px);
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      &::-webkit-slider-runnable-track {
         background: hsl(0, 0%, 12%);
      }
      &::-moz-range-track {
         background: hsl(0, 0%, 12%);
      }
   }
}
//----------------------------------------------------------------------------------------------------------------------
// Side bar
.side_bar {
   font-family: monospace;
   font-size: 14px;
   width: 100%;
   max-width: 300px;
   margin-left: 15px;
   margin-right: 15px;
   background-color: hsla(0, 0%, 48%, 0.259);
   padding: 5px;
   height: fit-content;
   border: 5px solid hsl(47, 69%, 5%);
   display: flex;
   flex-direction: column;
}
//----------------------------------------------------------------------------------------------------------------------
// button
.id_button {
   display: flex;
   flex-direction: column;
}
//----------------------------------------------------------------------------------------------------------------------

.item_popup {
   width: 100%;
   max-width: 320px;
   height: fit-content;
   background-color: hsl(279, 36%, 5%);
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 3px;
}

//----------------------------------------------------------------------------------------------------------------------
// mobile
// @media only screen and (max-width: 600px) {
//    .editor-container {
//       width: 100%;
//    }
//    .side_bar {
//       margin-left: auto;
//       margin-right: auto;
//       border: unset;
//       margin-top: 25px;
//    }
//    .item_popup {
//       height: fit-content;
//       margin-left: auto;
//       margin-right: auto;
//       margin-bottom: 25px;
//    }
// }

@media only screen and (max-width: 900px) {
   .editor-container {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
      order: 1;
   }
   .side_bar {
      margin-left: auto;
      margin-right: auto;
      border: unset;
      order: 3;
   }
   .item_popup {
      height: fit-content;
      margin-left: auto;
      margin-right: auto;
      order: 2;
   }
}

.monaco-editor,
.monaco-diff-editor {
   .gutter-delete,
   .char-delete {
      background-color: var(--highlightColorDelete) !important;
   }
   .gutter-insert,
   .char-insert {
      background-color: var(--highlightColorInsert) !important;
   }
}
