@import './variables.scss';

@mixin button {
   background-color: $button-background-color;
   color: hsl(0, 0%, 100%);
   border-color: $button-border-color;
   &:hover {
      color: $orange-color;
   }
}

@mixin select {
   background-color: hsl(240, 7%, 18%);
   color: hsl(0, 0%, 100%);
   border: 2px solid hsl(0, 0%, 36%);
   optgroup {
      color: $orange-color;
      option {
         color: hsl(0, 0%, 100%);
      }
   }
}